<template>
    <div v-if="message" class="row">
        <div class="col-md-12 mt-3">
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        </div>
    </div>
</template>

<script>
import { toRefs } from 'vue'
export default {
    props: ['message'],
    setup(props) {
        const {message} = toRefs(props)
        return {message}
    }
}
</script>