<template>

<div class="col-md-6 mt-2 mb-2">
    <div class="card">
        <div class="card-body">
            <h6 class="card-title"><font-awesome-icon size="xs" icon="fa-solid fa-user-friends" /> Followers</h6>
            <Bar
                id="my-chart-id"
                :options="chartOptions"
                :data="chartData"
            />
        </div>
    </div>
</div>

</template>

<script>
import { Bar } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'
import { toRefs, watch, ref } from 'vue'
import useUserService from '@/services/userService';
export default {
    components: {Bar},
    props: ['users'],
    setup(props) {

        const { users } = toRefs(props)

        const chartData = ref('');

        chartData.value = {
            labels: ['loading'],
            datasets: [0]
        };

        watch(() => users.value, async (newUsers) => {

            let { arrUsers, arrFollowers } = await useUserService.getUsersWithCountFollowers(newUsers)
            
            chartData.value = {
                labels: arrUsers,
                datasets: [{data: arrFollowers}]
            };

        })

        ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

        let chartOptions = {
            responsive: true
        }

        return { chartData, chartOptions, users }

    }
}
</script>