<template>
    <section>

        <errorsComponent v-if="error" message="You cannot run this search." />

        <div class="row mt-2">
            <div class="col-md-12">
                <div class="btn-group" role="group">
                    <input type="text" class="form-control form-control-sm" v-model="username" placeholder="Username">
                    <button type="button" class="btn btn-secondary btn-sm" @click="searchByUsername()"><font-awesome-icon size="xs" icon="fa-solid fa-search" /></button>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title"><font-awesome-icon size="xs" icon="fa-solid fa-user" /> Users</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in users" :key="user.id">
                                        <td>{{ user.id }}</td>
                                        <td><font-awesome-icon size="xs" icon="fa-solid fa-user" /> {{ user.login }}</td>
                                        <td>
                                            <router-link :to="{name: 'user.login', params: {username: user.login}}" class="btn btn-secondary btn-sm"><font-awesome-icon size="xs" icon="fa-solid fa-eye" /></router-link>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <statisticalComponent :users="users"></statisticalComponent>
            
        </div>
    </section>
</template>

<script>
import { onMounted, ref } from 'vue';
import statisticalComponent from './statisticalComponent.vue';
import errorsComponent from './errorsComponent.vue';
import useUserService from '@/services/userService';
import useUserValidation from '@/validations/userValidation';
export default {
    components: {statisticalComponent, errorsComponent},
    setup() {
        const users = ref([]);
        const username = ref('');
        const error = ref(false);

        onMounted(async() => {  
            await useUserService.getAll()
                .then(data => users.value = data.items);
        });

        const searchByUsername = async() => {
            if(useUserValidation.maxCharacters(username.value) && !useUserValidation.equalToDoublevpartners(username.value) && !useUserValidation.textIsEmpty(username.value)) {
                error.value = false;
                await useUserService.getAll(username.value)
                    .then(data => users.value = data.items);
            } else {
                error.value = true;
            }
        }

        return { users, username, searchByUsername, error };
    }
}
</script>

<style>

</style>