<template>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img :src="user.avatar_url" class="img-thumbnail user-image" />
                            </div>
                            <div class="ml-3">
                                <h3 class="d-block user-login"><font-awesome-icon size="xs" icon="fa-solid fa-user" /> {{ user.login }}</h3>
                                <h6 class="d-block">Id: <a href="#">{{ user.id }}</a></h6>
                                <h6 class="d-block" v-if="user.location">Location: <a href="#">{{ user.location }}</a></h6>
                                <h6 class="d-block" v-if="user.followers">Followers: {{ user.followers }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { onMounted, ref } from 'vue';
import useUserService from '@/services/userService';
import { useRoute } from 'vue-router'
export default {
    setup() {
        const router = useRoute();
        const user = ref([]);

        onMounted(async () => {
            await useUserService.getByUsername(router.params.username)
                .then(data => user.value = data)
        })

        return { user };
    }
}
</script>

<style scoped>
    .image-container {
        position: relative;
    }
    .user-login {
        font-size: 1.5rem;
        font-weight: bold
    }
    .user-image {
        width: 150px;
        height: 150px;
    }
</style>