<script setup>
import { RouterView } from 'vue-router'
import headerComponent from '@/components/headerComponent.vue'
</script>

<template>
  <header-component />
  <div class="container">
    <RouterView />
  </div>
</template>
